body {
	font-family: sans-serif ;
	background:#0a0011 ;
	color: #ccc ;
}

h1,h2,h3, p {
  color: #ccc;
  text-align: center;
}

a,.img_thing{
  color: chocolate;
}

.h-center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: auto;
}

main {
	max-width: 800px ;
  margin: auto;
}


figcaption,img {
	max-width: 100% ;
  text-align: center;
  display: block;
  margin: auto;
}
header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
